Source: calamares-settings-nitrux
Section: kde
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://nxos.org/
Vcs-Git: https://github.com/Nitrux/calamares-settings-nitrux.git

Package: calamares-settings-nitrux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, calamares, libpwquality1, dmcrypt-openrc, libpwquality-tools, cracklib-runtime
Description: Settings for Calamares.
 Nitrux branding package and settings for the Calamares installer.
