Source: calamares-qml-settings-nitrux
Section: kde
Priority: optional
Maintainer: Camilo Higuita <milo.h@aol.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://nxos.org/
Vcs-Git: https://github.com/Nitrux/calamares-settings-nitrux.git

Package: calamares-qml-settings-nitrux
Architecture: any
Replaces: calamares-settings-nxos
Depends: ${shlibs:Depends}, ${misc:Depends}, calamares-qml
Description: Settings for Calamares QMl.
 Nitrux branding package and settings for the Calamares QML installer.
