[Desktop Entry]
Comment=
Exec=cala-kwin-rules
GenericName=
Icon=preferences-desktop
MimeType=
Name=cala-kwin-rules
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DBUS-SubstitueUID=false
X-DBUS-Username=
